<div id="comment-<%= comment._id %>" class="single-comment">
    <div class="a">
        
        <b><% if(locals.user && locals.user.id == comment.user.id){ %>
            <img class="pro-pic" src="<%= user.avatar %>" alt="<%= user.name %>">
        <% } %>
            <%= comment.user.name %></b>

    </div>
    <div class="b">
        
        <%= comment.content %>  
       
    </div> 
    <div>
        <% if(locals.user && locals.user.id == comment.user._id){ %>

            <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">X</a>
        <% } %>
    </div>
    <div>
    
        <% if (locals.user){ %>
            <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                    <%= comment.likes.length %> Likes
            </a>
        <% }else{ %>
            <%= comment.likes.length %> Likes
        <% } %>
        
    </div>
</div>