<div class="posts">
    <li id="post-<%= post._id %>">
        <div class="single-post">

            <div class="a">
                <% if(locals.user && locals.user.id == post.user.id){ %>
                    <img class="pro-pic" src="<%= user.avatar %>" alt="<%= user.name %>">
                <% } %>
                <b><%= post.user.name %></b>
                <% if(locals.user && locals.user.id == post.user.id){ %>
                    <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">X</a>
                <% } %>
            </div>

            <div class="b">
                <%= post.content %>
            </div>
            
            <!-- <%= post.updatedAt %> -->
            
        </div>
        <div class="post-file">
            <img src="<%= post.pposts %>" alt="" />
            <br>
            
        </div>
        <div class="post-comments">
            <% if(locals.user){ %>
                <form action="/comments/create" method="POST">
                <input id="comment-i" type="text" class="comment_input" name="content" placeholder="Write a comment..." required>
                <input type="hidden" class="comment_input_submit" name="post" value="<%= post._id %>">
                <input type="submit" value="Comment">
                </form>
            <% } %>

            <div class="post-comments-list">
                <div>
                    <ul id="post-comments-<%= post._id%>">
                        <% for(comment of post.comments){ %>
                            <%- include("_comment") -%>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </li>
</div>