<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/layout.css">

        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/home.css">

        <%- style %>    

    </head>
    <body>
     
            <%- include("_header"); %>      

        <main id="body-main">
            <%- body %>
        </main>
            
        

            <%- include("_footer"); %>  

            <%- script %> 

    </body>
</html>